#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_image
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    background: linear-gradient(90deg, rgba(228,190,14,1) 35%, rgba(230,100,14,1) 64%, rgba(255,0,0,1) 100%);
}
h1{
    font-family: 'Viaoda Libre', cursive;
    background-color: rgba(230,100,14,0.4);
    border-radius: 20px;
}
